body {
  background-color: rgb(234, 247, 243) !important;
}

#imagesuper {
  width: 80%;
}
.jumboTron {
  background-color: #b8dbd9;
  padding-top: 1em;
  border-radius: 5px;
}
.h1Jumbo {
  text-decoration: line-through;
}
.imageCenter {
  margin-left: 25%;
}
